#mainDesign {
    text-align: center;
}

.homePageButtons {
    text-align: center;
}

.loginCredentials {
    width: 540px;
}


.navbar .btn{
	background-color: red;
	font-weight: bold;
	color: white;
}

.navbar .navbar-brand{
	font-weight: bolder;

.signup {
    width: 540px;
}